@using aneri_vyas.Models;
@model MainModel;

<div id="fullContainer">

    <div id="headerBar">

        @foreach (var i in Model.User)
        {
<span id="headerTitle"> @i.Title</span>}

        <label class="switch">
            <input type="checkbox" id="modeSwitch" onchange="changeMode()">
            <span class="slider round"></span>
        </label>


    </div>
    <div id="mainContainer">
        @foreach (var i in Model.User)
        {
        <div id="navigationContainer">

            @foreach (var area in i.Areas)
            {
                
                <div id="links_@area.SubSectionID" value="@area.SubSectionID" onclick="showContent(this)" class="navigationLinks">@area.SubSectionTitle</div>
            

            }

                        </div>
                <div id="contentContainer">

                    @foreach (var area in i.Areas)
                    {
                        <div class="content" id="@area.SubSectionID">

                            @foreach(var sub in area.SubSection)
                            {
                                        @switch (sub.SubSectionID)
                                                                    {
                                                                        case "One":

        
                                                                        @sub.SubSectionTitle break;

                                                                        case "Two":

                                                       
                                                        <div class="timelinecontainer @sub.Display">
                                                            <div class="timelinecontent">
                                                                <h2>@sub.Location (@sub.Year)</h2>
                                                                <p>@sub.Role (@sub.Type) - @sub.Duration </p>
                                                                <p>@sub.Learning</p>
                                                            </div>
                                                        </div>              break;

                                            case "Three":

       

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/User/anerivyas/Desktop/Aneri-Vyas CV/aneri-vyas/Images/ExampleA.jpg" />
                            <h1>@sub.Name</h1>
                            <p>Please hover over me</p>
                        </div>
                        <div class="flip-card-back">

                            <p>@sub.Description</p>
                            <p>@sub.Details</p>
                            <p>@sub.Learning </p>
                            <p>Owned by - @sub.Owner</p>
                        </div>
                    </div>
                    </div>                            break;

                                            case "Four":

        
<table class="skillTable">

    <tr>
        <td class="skillName">
            @sub.Name (@sub.Type)
        </td>
        <td title="Experience" class="skillExperience">
            (@sub.Duration years)
        </td>
    </tr>

    <tr>
        <td class="skillDescription" colspan="2">
            @sub.Description
        </td>
        <td>
        </td>
    </tr>

</table>                            break;

                                            case "Five":

      
@sub.SubSectionTitle                                                  break;
                            }

                            

        

                                

                               

                                
                            }

                        </div>}

                </div>}




    </div>

</div>


@*<div class="content" id="Me">Sup</div>
    <div class="content" id="Experience">

        <div class="timeline">
            @foreach (var exp in Model.Experience)
                        {

            <div class="timelinecontainer @exp.Display">
                <div class="timelinecontent">
                    <h2>@exp.Location (@exp.Year)</h2>
                    <p>@exp.Role (@exp.Type) - @exp.Duration </p>
                    <p>@exp.Learning</p>
                </div>
            </div>

            }
        </div>



    </div>
    <div class="content" id="Projects">

        @foreach (var proj in Model.Projects)
                    {
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/User/anerivyas/Desktop/Aneri-Vyas CV/aneri-vyas/Images/ExampleA.jpg" />
                       <h1>@proj.Name</h1>
                        <p>Please hover over me</p>
                    </div>
                    <div class="flip-card-back">

                        <p>@proj.Description</p>
                        <p>@proj.Details</p>
                        <p>@proj.Learning </p>
                        <p>Owned by - @proj.Owner</p>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="content" id="Skills">

        @foreach (var item in Model.Skills)
        {
            <table class="skillTable">

                <tr>
                    <td class="skillName">
                        @item.Name (@item.Type)
                    </td>
                    <td title="Experience" class="skillExperience">
                        (@item.YearsOfExperience years)
                    </td>
                </tr>

                <tr>
                    <td class="skillDescription" colspan="2">
                        @item.Description
                    </td>
                    <td>
                    </td>
                </tr>

            </table>
        }

    </div>
    <div id="education"></div>*@





